@font-face {
	font-family: 'New_Zelek';
	src: url('../../src/styles/fonts/NewZelek-Normal.eot');
	src: url('../../src/styles/fonts/NewZelek-Normal.eot?#iefix')
			format('embedded-opentype'),
		url('../../src/styles/fonts/NewZelek-Normal.woff2') format('woff2'),
		url('../../src/styles/fonts/NewZelek-Normal.ttf') format('truetype'),
		url('../../src/styles/fonts/NewZelek.woff') format('woff');
}
