include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title.main-title
  body
    .wrapper
      main.maincontent
        include ./components/welcome-section.pug
        include ./components/myWorks.pug
        include ./components/footer.pug
  
    